<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <form>
    <div class="form-group">
      <label for="chartSelect">
        Chart type
      </label>
      <select class="form-control" id="chartSelect" [formControl]="name">
        <option>Bar Chart</option>
        <option>Pie Chart</option>
      </select>
    </div>
  </form>
  <div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [legend]="chartLegend"
              [chartType]="chartType"></canvas>
    </div>
  </div>
</body>
</html>
